{
    "debug": false,
    "auto_format_on_save": true,
    "auto_format_on_save_requires_prettier_config": true,
    "auto_format_on_save_excludes": [
        "*/node_modules/*",
        "*.json"
    ],
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "parser": "babylon",
    "printWidth": 80,
    "semi": true,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false,
    "allow_inline_formatting": false,
    "use_local_babel": true,
}